#!/usr/bin/python
from dateutil import parser
from datetime import datetime
import re
import json
device_time = parser.parse("{{device_time}}")
local_time = parser.parse("{{local_time}}")
local_search_time = parser.parse("{{local_search_time}}")
local_delta = (local_time - local_search_time).total_seconds()
for line in {{result.stdout_lines}}:
    matched = re.search('(.+) @@ (.+)', line)
    if matched:
        file_ts = parser.parse(matched.group(2))
        remote_delta = (device_time - file_ts).total_seconds()
        if abs(remote_delta - local_delta) < 300:
           print matched.group(1), "@", matched.group(2)
